Interface-NODE-RED/interfacebasica.json
[{"id":"ba0df1e1.1b583","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"62c40172.32531","type":"comment","z":"ba0df1e1.1b583","name":"Mosquitto Batimento","info":"","x":200.5,"y":104,"wires":[]},{"id":"3db20cb7.ea6214","type":"mqtt in","z":"ba0df1e1.1b583","name":"SIGNAL","topic":"sensor/pulsesensor/signal/vitor","qos":"0","datatype":"auto","broker":"4da8ccc5.598534","x":379.5,"y":104,"wires":[["40c59294.bc9b44","d9b485d7.532288","c76a4ef3.4c88a"]]},{"id":"40c59294.bc9b44","type":"debug","z":"ba0df1e1.1b583","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":708.5,"y":161,"wires":[]},{"id":"6ea9aca.424d454","type":"ui_text","z":"ba0df1e1.1b583","group":"5039e942.72c898","order":0,"width":0,"height":0,"name":"Batimento","label":"Batimento","format":"{{msg.payload}}","layout":"row-left","x":660.5,"y":267,"wires":[]},{"id":"d9b485d7.532288","type":"ui_chart","z":"ba0df1e1.1b583","name":"Ecocardiograma","group":"5039e942.72c898","order":1,"width":"11","height":"6","label":"Ecocardiograma","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"250","ymax":"1000","removeOlder":"5","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":726.5,"y":47,"wires":[[]]},{"id":"6960f0aa.3c3bd","type":"mqtt in","z":"ba0df1e1.1b583","name":"BPM","topic":"sensor/pulsesensor/bpm/vitor","qos":"0","datatype":"auto","broker":"4da8ccc5.598534","x":394.5,"y":224,"wires":[["6ea9aca.424d454","34e8fb1b.f32b14"]]},{"id":"fff1f84f.d403e8","type":"mqtt in","z":"ba0df1e1.1b583","name":"IBI","topic":"sensor/pulsesensor/ibi/vitor","qos":"0","datatype":"auto","broker":"4da8ccc5.598534","x":365.5,"y":328,"wires":[["7dec7aa5.71a094","70ab1c1e.f550b4"]]},{"id":"7dec7aa5.71a094","type":"ui_text","z":"ba0df1e1.1b583","group":"5039e942.72c898","order":2,"width":0,"height":0,"name":"IBI","label":"IBI","format":"{{msg.payload}}","layout":"row-spread","x":650.5,"y":434,"wires":[]},{"id":"c76a4ef3.4c88a","type":"ui_text","z":"ba0df1e1.1b583","group":"5039e942.72c898","order":3,"width":0,"height":0,"name":"SInal atual","label":"Sinal atual","format":"{{msg.payload}}","layout":"row-spread","x":714.5,"y":108,"wires":[]},{"id":"34e8fb1b.f32b14","type":"ui_gauge","z":"ba0df1e1.1b583","name":"Batimento por minuto","group":"c2b9f078.527da","order":0,"width":0,"height":0,"gtype":"gage","title":"Batimento por minuto","label":"Batidas","format":"{{value}}","min":0,"max":"250","colors":["#f21313","#46f71d","#ca3838"],"seg1":"60","seg2":"150","x":717.5,"y":199,"wires":[]},{"id":"70ab1c1e.f550b4","type":"ui_chart","z":"ba0df1e1.1b583","name":"IBI","group":"c2b0b94f.216ff8","order":0,"width":0,"height":0,"label":"IBI","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"200","ymax":"1000","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":648.5,"y":329,"wires":[[]]},{"id":"4da8ccc5.598534","type":"mqtt-broker","z":"","name":"Servidor IC","broker":"xaveco.lab.ic.unicamp.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5039e942.72c898","type":"ui_group","z":"","name":"Graficos","tab":"f04c0005.9901b","disp":true,"width":"11","collapse":false},{"id":"c2b9f078.527da","type":"ui_group","z":"","name":"Batimento","tab":"f04c0005.9901b","disp":true,"width":"8","collapse":false},{"id":"c2b0b94f.216ff8","type":"ui_group","z":"","name":"Interval entre Batida","tab":"f04c0005.9901b","disp":true,"width":"5","collapse":false},{"id":"f04c0005.9901b","type":"ui_tab","z":"","name":"Central de Saúde do Paciente","icon":"dashboard","disabled":false,"hidden":false}]